@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}
.app-container {
  display: flex;
  height: 100vh;
  overflow-y: hidden;
}

.main-layout {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  background-color: black;
  padding: 1rem;
}

.sidebar {
  width: 5rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #222;
  padding-top: 1rem;
}

.content {
  flex-grow: 1;
  padding: 1rem;
  background-color: #222222;

}
